/* Styles for the Terminal app */
.hidden {
    display: none !important;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: var(--color-card);
}

#terminal {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.2rem;
    padding: 0.5rem;
    background-color: var(--color-card);
    color: var(--color-white);
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#terminal-history div {
    white-space: pre-wrap;
}

#prompt {
    white-space: pre-wrap;
}

#input-line {
    display: flex;
}

#terminal-input {
    flex-grow: 1;
    background: transparent;
    border: none;
    outline: none;
    color: var(--color-white);
    font-family: inherit;
    font-size: inherit;
}