/* Styles for the Welcome app */
/* CSS Variables */
:root {
    --color-primary: #2B652A;
    --color-primary-dark: #244f1f;
    --color-background: #181a1b;
    --color-card: #242729;
    --color-white: #fff;
    --color-black: #000;
    --color-gentle-red: #a83b39;
    --color-gentle-red-dark: #722827;
    --color-yellow: #ffcc13;
    --color-yellow-dark: #a17917;
    --color-theme-font: #BFFF8E;
    --color-subtle-text: #c5c5c5;
}

.hidden {
    display: none !important;
}

strong {
    font-weight: 600;
}

#welcome-logo-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

#welcome-logo {
    width: 15rem;
    height: auto;
    background-size: cover;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

body {
    background-color: var(--color-card);
    color: var(--color-white);
    margin: 0;
    padding: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin-top: 0;
}

a {
    color: var(--color-primary);
}

.close-window-btn-wrapper {
    display: flex;
    justify-content: center;
}

.close-window-btn {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 8rem;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.close-window-btn:hover {
    background-color: var(--color-primary-dark);
}