/* Styles for the Welcome app */
.hidden {
    display: none !important;
}

strong {
    font-weight: 600;
}

#welcome-logo-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

#welcome-logo {
    width: 15rem;
    height: auto;
    background-size: cover;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

body {
    background-color: var(--color-card);
    color: var(--color-white);
    margin: 0;
    padding: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin-top: 0;
}

a {
    color: var(--color-primary);
}

.close-window-btn-wrapper {
    display: flex;
    justify-content: center;
}

.close-window-btn {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 8rem;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.close-window-btn:hover {
    background-color: var(--color-primary-dark);
}